@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;700;900&display=swap');

* {
  background-color: #2d2d2a;
  font-family: 'Yantramanav', sans-serif;
  color: #20FC8F;
}

img#logo {
  border-radius: 50%;
}
